<footer>
    <!--<h3 style="height: 100px;color: #CCCCCC; background-color: #444444;line-height: 100px;margin: 0;" class="text-center">
        Web前端开发-Web前端工程师&#45;&#45;JS中文学习社区
    </h3>-->
    <div class="container text-center" style="line-height: 40px;">
        JS中文社区为国内较为专业的 javascript 开源技术社区，致力于 javascript 的技术研究。
        <p>© 2017 Yanliang Javascript, Inc.  Developed with WebStorm.</p>
    </div>
</footer>
