<div class="rightmain" ng-cloak>
    <h3>用户</h3>
    <a href="/users/otherUser?author={{ userData.userName }}"><img style="width: 50px;height: 50px;" ng-src="{{ userData.logo }}" alt="用户头像">&nbsp;{{ userData.userName }}</a>
    <h4>积分：{{ userData.jifen }}</h4>
    <h4>"{{ userData.motto }}"</h4>
</div>
