<!DOCTYPE html>
<html>
<head>
    <title>JS专业中文社区</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/plugin/bootstrap/css/bootstrap.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/angular.js"></script>
    <script src="/plugin/bootstrap/js/bootstrap.js"></script>
    <script src="/javascripts/myjs.js"></script>
</head>
<body style="background-color: #E1E1E1;" ng-app="webApp">
<%- include public/header %>
<%- include public/searchbody %>
<%- include public/footer %>
</body>
</html>